html {
  font-family: 'Ubuntu Condensed', sans-serif;
  color: #fff;
  background: url(../images/starfield.png);
}

.banner {
  position: absolute;
  left: 25%;
  bottom: 50%;
}

h1 {
  text-shadow: rgba(255, 255, 255, .7);
}

a {
  width: 200px;
}

img {
  height: 30px;
  display: inline-block;
}
